.git
.gitignore
.env
.env.example
*.pyc
__pycache__/
frontend/
node_modules/
src/assets/files/*
src/assets/database/*
reali_chroma_db/
reali_qdrant_db/
venv/
.venv/
conda-env/
.idea/
.vscode/
*.md
setup_env.sh
environment.yml
LICENSE
